[submodule "lib/sp-vm-tools"]
	path = lib/sp-vm-tools
	url = https://github.com/super-protocol/sp-vm-tools
[submodule "swarm-cloud"]
	path = src/repos/swarm-cloud
	url = git@github.com:Super-Protocol/swarm-cloud.git
[submodule "swarm-db"]
	path = src/repos/swarm-db
	url = git@github.com:Super-Protocol/swarm-db.git
[submodule "sp-swarm-services"]
	path = src/repos/sp-swarm-services
	url = git@github.com:Super-Protocol/sp-swarm-services.git
