set timeout=4
set default=0
root_hash="$ROOTFS_HASH"
kernel_path="/vmlinuz-$KERNEL_VERSION-nvidia-gpu-confidential"
build="$SP_VM_IMAGE_VERSION"

insmod part_gpt
search --label bls_boot --set=root

menuentry 'SP Linux Debug' --class ubuntu --class gnu-linux --class gnu --class os {
    argo_branch="main"
    argo_sp_env="main"
    linux ${kernel_path} root=LABEL=rootfs ro console=ttyS0 clearcpuid=mtrr systemd.log_level=trace systemd.log_target=log rootfs_verity.scheme=dm-verity rootfs_verity.hash=${root_hash} argo_branch=${argo_branch} sp-debug=true argo_sp_env=${argo_sp_env} build=${build}
}

menuentry 'SP Linux Prod' --class ubuntu --class gnu-linux --class gnu --class os {
    linux ${kernel_path} root=LABEL=rootfs ro clearcpuid=mtrr rootfs_verity.scheme=dm-verity rootfs_verity.hash=${root_hash} build=${build}
}
