[Unit]
Description=PKI authority lxc-container
After=lxc.service lxc-net.service lxc-monitord.service nvidia-persistenced.service 
Requires=lxc.service lxc-net.service lxc-monitord.service
Wants=nvidia-persistenced.service

[Service]
Type=simple
Restart=always
RestartSec=5
TimeoutStartSec=3min

ExecStartPre=/usr/local/bin/create-and-configure-pki.sh

ExecStart=/usr/bin/lxc-start -n pki-authority -F

ExecStop=/usr/bin/lxc-stop -n pki-authority

KillMode=control-group

[Install]
WantedBy=multi-user.target
