[Unit]
Description=Run Check and Copy Config Files Service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
