[Unit]
Description=Ensure kubectl link in RKE2 bin after /var mount
After=local-fs.target
ConditionPathExists=/usr/local/bin/kubectl

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ensure-kubectl-link.sh

[Install]
WantedBy=multi-user.target
