[Unit]
Description=Swarm DB service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/etc/swarm-db
ExecStartPre=mkdir -p /var/lib/swarm-db/data
ExecStart=/etc/swarm-db/swarm-db-linux-amd64 -config /sp/swarm/node-db.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
