[Unit]
Description=Swarm DB service
After=network-online.target local-fs.target pki-authority.service
Wants=network-online.target pki-authority.service
RequiresMountsFor=/var /var/lib /var/lib/swarm-db
ConditionPathExists=/usr/local/bin/swarm-db-linux-amd64
ConditionPathExists=/sp/swarm/node-db.yaml

[Service]
Type=simple
WorkingDirectory=/
ExecStartPre=mkdir -p /var/lib/swarm-db/data
ExecStartPre=/usr/local/bin/prepare_swarm_db_config.py \
    --base-config /sp/swarm/node-db.yaml \
    --key-file /etc/swarm/swarm.key \
    --output-config /etc/swarm/swarm-db-config.yaml
ExecStart=/usr/local/bin/swarm-db-linux-amd64 -config /etc/swarm/swarm-db-config.yaml
StandardOutput=append:/var/log/swarm-db.log
StandardError=append:/var/log/swarm-db-err.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
