[Unit]
Description=Swarm DB service
After=network-online.target local-fs.target swarm-init.service
Wants=network-online.target swarm-init.service swarm-services.service
ConditionPathExists=/usr/local/bin/swarm-db-linux-amd64

[Service]
Type=simple
WorkingDirectory=/
ExecStartPre=mkdir -p /var/lib/swarm-db/data
ExecStartPre=/bin/bash /usr/local/bin/generate-swarm-db-config.sh
ExecStart=/usr/local/bin/swarm-db-linux-amd64 -config /etc/swarm-db/config.yaml
StandardOutput=append:/var/log/swarm-db.log
StandardError=append:/var/log/swarm-db-err.log
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
