[Unit]
Description=PKI authority container
After=pki-authority-init.service pki-authority-sync.service
Requires=pki-authority-init.service
Wants=pki-authority-sync.service

[Service]
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
TimeoutStartSec=3min

ExecStartPre=/usr/bin/podman play kube --network podman --replace /etc/pki-authority/pod.yaml
ExecStart=/usr/bin/podman wait tee-pki-authority

ExecStop=/usr/bin/podman play kube --down /etc/pki-authority/pod.yaml

[Install]
WantedBy=multi-user.target
